<li class='link'>
	<div class='star hollow'>&#9734;</div>
	<div class='star solid'>&#9733;</div>
	   <a class='title' href="<%= link.url %>"><%= link.title %></a>
   <div class='description'>
     This could be amended to have a link allowing the user to describe their link, if needed. 
   </div>
   <span class='source'>
     added yesterday by 
     <a href="#">colin.frankish@gmail.com</a>
   </span>
 </li>